.header_wrapper {
    display: flex;
    padding: 1%;
    margin: 1%;
    background-color: #fff;
}
/* ユーザー名を右寄せ */
.header_wrapper>div:last-of-type{
    margin-left: auto;
}

.user_container {
    line-height: 0px;
}

.user_name {
    color: #ff0000;
    font-weight: bold;
}

.home_icon {
    cursor: pointer;
    color: #808080
}

.home_icon:hover {
    color: red;
}

.task_item_add_button {
    width: 20px;
    color: #808080;
    cursor: pointer;
    border: 1px solid #808080;
    border-radius: 25%;
    padding: 12px;
    margin-right: 2%;
    margin-bottom: 1%;
}

.task_item_add_container {
    display: flex;
    justify-content: right;
}

.task_item_add_button:hover {
    background-color: #808080;
    color: #fff;
}
